h1 {
    text-align:center;
}

h3 {
    text-align: center;
}


/*CSS for my Landing Page*/
.card1 {
    background-color: lightgray;
    border-color: lightgray;
}


.logo {
    z-index: 0;
    margin: auto;
    
}

.logo3 {
    height: 500px;
    width: 600px;
}

.nav1 {
    background-color: blue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*CSS for my Information Page*/
.nav2 {
    background-color: blue;
}

.img3 {
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.info {
    background-color: whitesmoke;
}

.information {
    background-color: lightgray;
}

.card2 {
    background-color: lightgray;
}




/*CSS for my Team Roster Page*/ 

.nav3 {
    background-color: blue;
}

.teamCard {
    background-color: lightgray;
}


.body3 {
    background-color: lightcoral;
/*Red was too strong so I switched it to a lighter color*/
}